* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.description {
    max-width: 50%;
}

.screenshot {
    max-width: 50%;
}

.app {
    display: -webkit-flex;
    display: flex;
}